@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/no-portrait.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  font-family: var(--default-font);
  margin-top: 25px;
  /* stop dragging */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.relatived {
  position: relative;
}
.notification_dot {
  font-size: 36px;
  color: tomato;
  position: absolute;
  left: 32px;
  bottom: 24px;
}
.nd-small {
  left: 20px;
  bottom: 20px;
}

/* color */

.fnt-grayer {
  opacity: 0.5;
}
