.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 50px;
  font-size: 26px;
}
.welcome-header__text {
  width: 50%;
  opacity: 0.6;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  line-height: 1.2rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  /* align-items: center; */
}

@keyframes TextAnimation {
  from {
    font-family: var(--default-font);
    color: var(--clr-light);
  }
  to {
    font-family: none;
    color: var(--yellow);
  }
}

#login-form input {
  border: none;
  padding: 15px 20px;
  font-size: 15px;
  margin-bottom: 25px;
  background-color: var(--clr-dark);
  border-radius: 2rem;
  color: var(--clr-light);
  height: 3.5rem;
  font-family: var(--default-font);
}
.fnt-ani {
  animation: TextAnimation 500ms ease-in-out infinite;
}

#login-form input[type="submit"] {
  margin-top: 1.5rem;
}

#login-form input:not([type="submit"]) {
  border-bottom: var(--main-border);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: var(--gray4);
}
#login-form input[type="password"]::placeholder {
  font-size: 14px;
  font-weight: 500;
}
#login-form input[type="password"]:focus {
  animation: none;
}
#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

#login-form a {
  font-size: 11px;
  opacity: 0.3;
  width: fit-content;
  margin: 0 auto;
}
