.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}
.alt-header__column:first-child {
  margin-right: auto;
}
@keyframes ButtonAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: none;
  }
}
.alt-header__column > a:hover i {
  animation: ButtonAnimation 200ms ease-in-out infinite;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
