#no-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  height: 110vh;
  width: 100vw;
  top: 0;
  font-size: 1.4rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
