#no-portrait {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 0;
  font-size: 1.4rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
@media screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  #no-portrait {
    display: flex;
  }
}
