.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  background-color: var(--blue);
  color: var(--clr-light);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.index {
  background-color: var(--clr-dark);
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
